@import 'mixins';
@import 'fonts';

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

.example-1 {
  position: relative;
  padding-left: 15px;
  font: 700 14px/1.3 'Open Sans', Arial, sans-serif;

  &::before {
    @include pseudo;
    background-color: #000000;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 2px;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

@include nested-list('.', 5px);

ol {
  padding: 0;

  ol {
    padding-left: 15px;
  }
}

.css-lock {
  background-color: #000000;
  width: 400px;
  @include responsive-property('height', 20px, 60px, 600px, 1000px);
}